Markus Abel <markus.abel@mantik.ai> <markus.abel@ambrosys.de>
Markus Abel <markus.abel@mantik.ai> markus <markus.abel@ambrosys.de>
Markus Quade <markus.quade@mantik.ai> <markus.quade@ambrosys.de>
Markus Quade <markus.quade@mantik.ai> <markus.quade@gmail.com>
Norbert Schultz <norbert.schultz@mantik.ai> <norbert.schultz@ambrosys.de>
Norbert Schultz <norbert.schultz@mantik.ai> <norbert.schultz@reactivecore.de>

