[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
scikit-learn = "*"
numpy = "*"
requests = "*"

[packages]
mantik = {editable = true,path = "."}
grpcio-tools = "*"

[requires]
python_version = "3.7"
