body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--surface-a);
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--text-color);
}


/* dt/dl next to each other, https://stackoverflow.com/a/44599527 */
dl {
    display: grid;
    grid-template-columns: max-content auto;
}

dt {
    font-weight: bold;
    grid-column-start: 1;
}

dd {
    grid-column-start: 2;
}